@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
    outline: 2px dashed red;
}

@media(min-width: 1280px){
    *{
        scrollbar-width: thin;
        scrollbar-color: #EDEDED #202020;
    }
    
    *::-webkit-scrollbar {
        width: 4px;
    }
    
    *::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    
    *::-webkit-scrollbar-track {
        background: #202020;
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: #EDEDED;
        width: 8px;
        border-radius: 20px;
    }
}

html {
    scroll-behavior: smooth;
}

.drop-shadow-card {
    filter: drop-shadow(8px 8px 0 #202020);
}

nav.active #mobile-menu {
    right: -10px;
    transition: right .5s;
}

nav.active #hamburguer-menu {
    border-top: transparent;
}

nav.active #hamburguer-menu::before {
    transform: rotate(45deg);
    top: 50%;
    bottom: 50%;
}

nav.active #hamburguer-menu::after {
    transform: rotate(-45deg);
    top: 50%;
    bottom: 50%;
}

#mobile-buttons button.active {
    color: #15E49A;
    text-decoration-line: underline;
}

@media(min-width: 768px) {
    nav.active #mobile-menu {
        right: -10px;
    }
}

.rotateX-180 {
    transform: rotateY(180deg);
}

.rotateXY-180 {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
}